.body {
    margin: 0px;
    padding: 0px;
}

.center {
    height: 80vh;
    display: grid;
    align-content: center;
    justify-content: center;
    grid: repeat(2, 100px) / auto-flow 100px;
    row-gap: 80px;
    column-gap: 140px;
}
.logo {
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b8b8b8;
    box-shadow: 0 0 0 #2020209f;
    padding: 0px 20px;
    height: 85px;
}

.menuNav {
    min-width: 300px;
    height: 100%;
    background-color: #b8b8b8;
    color: #23232e;
    z-index: 1;
    position: fixed;
    top: 85px;
    transition: all .10s ease-in;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
	flex-direction: column;
	height: 100%;
	list-style: none;
    text-align: center;
}
.configuracao {
    position: relative;
    z-index: 3;
    height: 60px;
    cursor: pointer;
}

@media (max-width: 820px) {
    .center {
        grid: repeat(3, 140px) / auto-flow 140px;
        padding-top: 100px;
        padding-left: 50px;
        grid-row-gap: 180px;
        grid-column-gap: 140px;

    }
}

@media (max-width: 586px) {
    .center {
        grid: repeat(4, 70px) / auto-flow 70px;
        padding-left: 60px;
        grid-row-gap: 80px;
        grid-column-gap: 140px;
    }
}