.body {
    background-image: url(/backgroud2.jpeg);
    width: 100%;
    height: 100vh;
    max-height: 100%;
}

.top {
    display: flex;
    justify-content: space-between;
}

.center {
    padding-top: 40px;
    padding-left: 80px;
}

.center {
    display: grid;
    grid: repeat(2, 60px) / auto-flow 80px;
    grid-row-gap: 80px;
    grid-column-gap: 140px;
}