.container {
    color: var(--fg-white);
    text-align: center;
    font-size: 5rem;
    overflow-x: hidden
}

.header {
    position: sticky;
}

.main {
    height: 100vh;
    position: relative;
}

.login {
    display: block;
    width: 100%;
    font-size: 1rem;
    text-align: right;
    padding: 10px;
    cursor: pointer;
    background-image: linear-gradient(to right, var(--fg-white) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease;
    font-weight: bold;
}

.login:hover {
    background-position: left;
    color: var(--blue2);
    box-shadow: var(--button-light);

}

.mascoteField {
    margin: 100px auto 0px auto;
    min-width: 120px;
    max-width: 300px;
    padding: 0px;
}

.mascoteField img {
    object-fit: contain;
}

.mascote {
    animation: mascote_move 10s infinite alternate;
    z-index: 1;
}

.text {
    font-size: 1.2rem;
    text-align: left;
    margin-top: -1.4%;
}

.button {
    background-image: var(--button-gradient);
    padding: 20px 120px;
    font-size: 1.5rem;
    border-radius: 32px;
    transition: all .5s ease-in-out;
    z-index: 2;
    position: relative;
}

.button:hover {
    background-image: none;
    background-color: var(--fg-white);
    box-shadow: var(--button-light);
    color: var(--blue2);
}

.content {
    display: flex;
    flex-direction: column;
    color: #242424ce;
    filter: drop-shadow(0px 0px 10px #2020209f);
}
.content h3 {
    text-align: center;
}
.content h2 {
    margin-top: 0px;
    color: var(--blue2);
}

.contentInfo {
    padding: 200px 30px;
    font-size: 25px;
    text-align: left;
    background-color: var(--fg-white);
}

.contentInfo iframe {
    height: 50vh;
    object-fit: contain;
}

.contentInfo article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin-bottom: 300px;
}

.contentInfo p {
    line-height: 40px;
}

.contentInfo hr {
    height: 10px;
    width: 50%;
    margin: 20px 0px;
    border-radius: 32px;
    background-color: var(--blue2);
    border: none;
}

.cardsSection {
    margin: 300px 0px;
    padding: 0px 5px;
}

.devText {
    font-size: 50%;
    margin-bottom: 100px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

/* Animação que faz o mascote balançar */
@keyframes mascote_move {
    0% {
        transform: rotate(-10deg);
    }

    50% {
        transform: translateY(40px);
    }
}

@media (min-width: 801px) {
    .container {
        font-size: 10rem;
    }

    .main {
        padding: 30px;
    }

    .mascoteField {
        margin: 0px;
        width: 50%;
        position: absolute;
        left: 80px;
        bottom: 180px;
        z-index: 1;
    }

    .mainText {
        margin-top: 40vh;
    }

    .mainText p {
        margin-bottom: 20px;
    }
    .contentInfo article {
        flex-wrap: nowrap;
    }
}