:root {
  /* Cores */
  --blue1: #04021a;
  --blue2: #180d86;
  --green1: #8efce0;
  --green2: #39b89a;

  --fg-white: #e9e9e9;

  /* Linear Gradients */
  --green-gradient: linear-gradient(360deg, var(--blue1), var(--blue2));
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
