.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    background-color: #3ac0ff;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border-bottom: 4px dashed black;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}